<div class="jumbotron">
    <div class="container">
        <h1>{{currentpost.subject}}</h1>
    </div>
</div>

<div class="container" ng-init="viewPost()">
    <div class="container">
        {{currentpost.body}}
    </div>
    <div class="container">
        {{currentpost.userName}}
    </div>
    <div class="container">
        {{currentpost.date}}
    </div>
    <br>
    <div class="container" ng-repeat="answer in currentpost.answers">
        <div class="container">
            {{answer.body}}
        </div>
        <div class="container">
            {{answer.userName}}
        </div>
        <div class="container">
            {{answer.date}}
        </div>
        <br>
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="username">
                Your name:
            </label>
            <input ng-model="answer.userName" id="username" name="name" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="answer">Your answer:</label>
            <textarea ng-model="answer.body" id="answer" name="answer" class="form-control">
            </textarea>
        </div>
        <input ng-click="postanswer(answer, currentpost.id)" type="submit">
    </form>

    <footer>
        <p>&copy; Xebia</p>
    </footer>
</div>